<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/b3e438769b.js" crossorigin="anonymous"></script>
<style>
    .hello-msg {
        font-size: 18px;
        color: white;
        margin-right: 20px;
    }

    .mytable {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 100%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

    .mytable thead tr {
        background-color: #3542b8;
        background-image: linear-gradient(315deg, #3542b8 0%, #5aa6ee 74%);
        color: #ffffff;
        text-align: left;
        text-transform: uppercase;
    }

    .mytable thead tr:nth-of-type(2) {
        border-right: 2px solid #5aa6ee;

    }

    .mytable th,
    .mytable td {
        padding: 12px 15px;
        font-weight: bold;
    }

    .mytable tbody {
        border-right: 2px solid #5aa6ee;
        border-left: 2px solid #5aa6ee
    }

    .mytable tbody tr {
        border-bottom: 1px solid #dddddd;

    }

    .mytable tbody tr:last-of-type {
        border-bottom: 2px solid #5aa6ee;
    }

    .mytable thead tr:first-of-type {
        text-align: center;
        border-bottom: 2px solid #5aa6ee;
        background-color: rgb(49, 87, 214);
    }

    .invite_friends{
        margin: 25px 0;
        border: 1px solid #5aa6ee;
        border-radius: 5px 5px 0 0;
        font-family: sans-serif;
        background-color: #63a4ff;
        background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
        color: white;
    }

    .invite_friends_header{
        border-bottom: 1px solid #5aa6ee;
        padding: 5px;
        background-color: #3542b8;
        background-image: linear-gradient(315deg, #3542b8 0%, #5aa6ee 74%);
        color: white;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;
       
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container mx-auto">
        <a class="navbar-brand" href="{% url 'main' %}">FitForYou</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fa fa-fw fa-user"></i>&nbsp;Profile
                    <a class="nav-item nav-link" href="{% url 'training' %}"><i
                            class="fas fa-dumbbell"></i>&nbsp;Training</a>
                    <a class="nav-item nav-link" href="{% url 'exercises'%}"><i
                            class="fas fa-running"></i>&nbsp;Exercises</a>
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'diet' %}"><i class="fas fa-utensils"></i>&nbsp;Diet</a>
                <a class="nav-item nav-link" href="{% url 'calculator'%}"><i
                        class="fas fa-calculator"></i>&nbsp;Calculator</a>
                <a class="nav-item nav-link" href="{% url 'rankings'%}"><i class="fas fa-trophy"></i>&nbsp;Rankings</a>
                <a class="nav-item nav-link active" href="{% url 'friends'%}"><i
                        class="fas fa-users"></i>&nbsp;Friends</a>


            </div>

        </div>
    </div>
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a class="nav-item nav-link" href="{% url 'logout' %}"">Logout</a></span>
</nav>

<div class=" container text-center">
            <div class="row ">
                <div class="col-5 mx-auto">
                    

                            <table class="mytable">
                                <thead>
                                    <tr>
                                        <th colspan="4">
                                            Friends
                                        </th>
                                    </tr>
                                    <tr>
                                        <th> username </th>
                                        <th> profile </th>
                                        <th> block </th>
                                        <th>messages</th>
                                    </tr>
                                </thead>

                                <tbody>{% for i in actualFriends%}
                                    <tr>
                                        <td>{{i.username}}</td>
                                        <td> <a class="btn btn-sm btn-info"
                                                href="{% url 'friendProfile' i.id%}">PROFILE</a> </td>
                                        <td> <a class="btn btn-sm btn-danger"
                                                href="{% url 'friendBlock' i.id%}">BLOCK</a> </td>
                                        <td> <a class="btn btn-sm btn-info" href="{% url 'messagesS' i.id%}">MESSAGE</a> </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        
                    </div>
               

                <div class="col-4 mx-auto">
                  

                            <table class="mytable">
                                <thead>
                                    <tr>
                                        <th colspan="3">Invitations</th>
                                    </tr>
                                    <tr>
                                        <th> username </th>
                                        <th> confirm </th>
                                        <th> decline </th>
                                    </tr>
                                </thead>

                                <tbody>{% for i in invitations%}
                                    <tr>
                                        <td>{{i.username}}</td>
                                        <td> <a class="btn btn-sm btn-info"
                                                href="{% url 'friendConfirm' i.id%}">CONFIRM</a> </td>
                                        <td> <a class="btn btn-sm btn-info"
                                                href="{% url 'friendDecline' i.id%}">DECLINE</a> </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                      

                   

                            <table class="mytable">
                                <thead>
                                    <tr>
                                        <th colspan="3">BLOCKED</th>
                                    </tr>
                                    <tr>
                                        <th> username </th>
                                        <th> unblocked </th>
                                    </tr>
                                </thead>

                                <tbody> {% for i in userToPossibileUnblock%}
                                    <tr>
                                        <td>{{i.username}}</td>
                                        <td> <a class="btn btn-sm btn-info"
                                                href="{% url 'friendUnblock' i.id%}">UNBLOCK</a> </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                

                </div>

                <div class="col-3 mx-auto">
                    <div class="invite_friends">
                        <div class="invite_friends_header text-center">
                            Invite new friends
                        </div>
                        <div class="card-body">
                            <form method="GET">
                                {{myFilter.form}}
                                <button class="btn btn-primary" type="submit">SEARCH</button>
                            </form>
                            <table class="mytable" style="color: white;">
                                
                                <thead>
                                    <tr>
                                        <th> username </th>
                                        <th> invite </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in newFriends%}
                                    <tr>
                                        <td>{{i.username}}</td>
                                        <td> <a class="btn btn-sm btn-info"
                                                href="{% url 'friendInvite' i.id%}">INVITE</a> </td>

                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>